.container {
  background: white;
  padding-top: 120px;
  padding-bottom: 120px;
  .wrapper {
    background-image: url('../../../../../assets/images/backgrounds/rewWraper.jpg');
    height: 369px;
    z-index: 1;
    .stats {
      margin: 0 auto;
      width: 1280px;
      padding: 93px 50px 219px 50px;
      display: flex;
      .item {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 294px;
        height: 55px;
        font-family: sans-serif;
        .text {
          font-size: 55px;
          font-weight: 600;
          padding-right: 22px;
        }
        .title {
          font-weight: 600;
          width: 148px;
          border-left: 3px solid rgb(254, 222, 0);
          font-size: 20px;
          line-height: 26px;
          padding-left: 22px;
        }
      }
    }
  }

  .sliderClass {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 121px;
    margin-bottom: -121px;
    top: -121px;
    z-index: 1;

    :global(.swiper-button-prev) {
      left: 51%;
    }
    :global(.swiper-button-next) {
      right: 43.5%;
    }
    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
      position: absolute;
      color: #727272;
      margin-top: 166px;
      &::after {
        font-size: 23px;
        font-weight: 1000;
      }
      &:hover {
        color: #ffc513;
      }
    }
  }
}
